body {
  background-color: rgb(187, 180, 151);
}

h1 {
  color: red;
  text-align: center;
}
h2 {
  color: navy;
  text-align: center;
}
p {
  text-align: center;
}
button {
  background-color: white;
  border-radius: 8px;
  color: hsl(0, 88%, 28%);
  font-size: 20px;
  text-align: center;
}
button:hover {
  background-color: black;
  color: white;
  text-align: center;
}
table {
  border-collapse: collapse;
  margin-bottom: 0.5rem;
  width: 100%;
}
td {
  background-color: red;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
}
footer {
  text-align: center;
}
label {
  display: inline-block;
  width: 240px;
}
